.Percentage {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.score {
  font-size: 28px;
  font-weight: 700;
}

/* 모바일 */
@media (max-width: 425px) {
  .Percentage {
    display: none;
  }
}
