.TestPage {
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

/* 헤더 */
.TestHeaderSection {
  background-color: white;
  position: fixed;
  max-width: 1140px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  padding: 0 16px;
  padding-top: 9rem;
}

.TitleContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* 테스트 본문 */
.TestBodySection {
  position: relative;
  height: 100dvh;
  transition: transform 0.8s ease-in-out;
}

.TestQuestion {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fadeout {
  opacity: 0;
  transition: all 200ms linear;
}

.fadein {
  opacity: 1;
  transition: all 200ms linear;
}

/* 버튼 */
.submitButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15rem;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  color: #282828;
  background-color: #eeeeee;
  transition: all 200ms ease-in-out;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 1s;
}

.submitButton:hover {
  color: white;
  background-color: var(--cl-primary);
  transition: all 200ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* 애니메이션 시작 시 opacity 0 */
  }
  to {
    opacity: 1; /* 애니메이션 끝날 때 opacity 1 */
  }
}

@media (max-width: 768px) {
  .TestHeaderSection {
    padding-top: 4rem;
  }
}
