/* 섹션 전체 */
.section {
  background-color: var(--cl-gray-light);
  width: 100%;
  min-height: 100vh;
  padding: var(--spc-64) 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 전체 내용 컨테이너 */
.sectionContainer {
  width: 100%;
  max-width: 1180px;
  padding: var(--spc-64) var(--spc-20);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 캐러셀 구분 라인 */
.line {
  width: 100%;
  border: 1px solid var(--cl-gray-strong);
  margin: var(--spc-64) 0;
}

/* 직업 이름 */
.jobName {
  font-size: var(--fs-28);
  font-weight: var(--fw-700);
  line-height: 150%;
  margin-bottom: var(--spc-64);
}

@media (max-width: 425px) {
  .section {
    padding: var(--spc-40) var(--spc-16);
  }

  .sectionContainer {
    max-width: 325px;
    padding: var(--spc-40) 0;
  }

  .line {
    margin: var(--spc-40) 0;
  }

  .jobName {
    font-size: var(--fs-20);
    margin-bottom: var(--spc-24);
  }
}
