.registerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 368px;
}

@media (max-width: 425px) {
  .registerPage {
    align-items: start;
    margin-top: 36px;
  }

  .container {
    padding: 0 16px;
  }
}
