.form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button {
  all: unset;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: var(--cl-primary);
  color: var(--cl-white);
  font-size: var(--fs-16);
  font-weight: var(--fw-700);
  border-radius: 10px;
}

.passwordWrapper {
  position: relative;
}

.togglePassword {
  position: absolute;
  top: 40px;
  right: 12px;
  background-color: transparent;
}

.signupLink {
  text-decoration: none;
  color: var(--cl-primary);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  margin-bottom: 16px;
}

.socialLogin {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--cl-gray-strong);
  padding-top: 40px;
}

.socialButton {
  background-color: transparent;
}
