.TestItem {
  margin-bottom: 64px;
}

.questionId {
  font-size: 24px;
  margin-bottom: var(--spc-16);
  font-weight: var(--fw-700);
  text-align: center;
}

.question {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  max-width: 900px;
}

@media (max-width: 425px) {
  .TestItem {
    margin-bottom: 40px;
  }

  .questionId {
    font-size: 18px;
  }

  .question {
    font-size: 18px;
  }
}
