.card {
  width: 180px;
  height: 250px;
  background-color: var(--cl-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--bd-20);
}

.imageWrapper {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 50px 50px 0 50px;
}

.majorIcon {
  object-fit: contain;
}

.majorRank {
  margin-top: var(--spc-24);
  font-size: var(--fs-16);
  font-weight: var(--fw-700);
  margin-bottom: var(--spc-8);
}

.majorName {
  font-size: var(--fs-20);
  font-weight: var(--fw-700);
  text-align: center;
}

@media (max-width: 425px) {
  .card {
    width: 180px;
    height: 250px;
  }

  .imageWrapper {
    width: 80px;
    height: 80px;
    padding: 60px 50px 0 50px;
  }
}
