.Navigation {
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 6rem;
  background-color: transparent;
  color: var(--cl-black);
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0 var(--spc-16);
}

.logo {
  font-size: var(--fs-40);
  font-weight: var(--fw-900);
}

.whiteLogo {
  color: var(--cl-white);
}

.blackLogo {
  color: var(--cl-black);
}

.ul {
  display: flex;
  gap: var(--spc-16);
  align-items: center;
}

.li {
  cursor: pointer;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
}

.link {
  display: block;
  padding: var(--spc-8) var(--spc-16);
  border-radius: 8px;
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  transition: all 200ms ease-in-out;
}

.link:hover {
  transition: all 200ms ease-in-out;
}

.logoutButton {
  display: block;
  background: transparent;
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  padding: var(--spc-8) var(--spc-16);
  border-radius: 8px;
  transition: all 200ms ease-in-out;
}

.logoutButton:hover {
  transition: all 200ms ease-in-out;
}

.whiteText {
  color: var(--cl-white);
}

.whiteText:hover {
  color: var(--cl-black);
  background-color: var(--cl-white);
}

.blackText {
  color: var(--cl-black);
}

.blackText:hover {
  color: var(--cl-white);
  background-color: var(--cl-primary);
}

@media (max-width: 425px) {
  .logo {
    font-size: var(--fs-40);
  }
}
