.progressBarContainer {
  width: 100%;
  height: 10px;
  background-color: var(--cl-gray-strong);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: var(--spc-40);
}

.progressBar {
  height: 100%;
  background-color: var(--cl-primary);
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}
