@import url("./styles/reset.css");
@import url("./styles/root.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

input {
  font-family: __pretendard_fde3a9, __pretendard_Fallback_fde3a9;
}

button {
  font-family: __pretendard_fde3a9, __pretendard_Fallback_fde3a9;
  cursor: pointer;
}
