.chartContainer {
  width: 100%;
  height: 400px;
  background-color: var(--cl-gray-light);
  border-radius: var(--bd-20);
  margin-bottom: var(--spc-40);
}

.chartCanvas {
  width: 100%;
  height: 100%;
  padding: var(--spc-30) var(--spc-100) var(--spc-20) var(--spc-100);
}

@media (max-width: 768px) {
  .chartContainer {
    background-color: var(--cl-white);
    width: 100%;
    height: 300px;
  }

  .chartCanvas {
    padding: 0;
  }
}
