.QuizItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding-top: var(--spc-40);
  padding-bottom: var(--spc-40); */
  padding: 220px 0;
  border-bottom: 1px solid var(--cl-gray-strong);
}

/* 새로 추가된 스타일 */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
