.QuizTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuizNumber {
  font-size: var(--fs-28);
  margin-bottom: var(--spc-16);
  font-weight: var(--fw-700);
  line-height: 150%;
}

.QuizContent {
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
}
