/* 섹션 전체 */
.section {
  background-color: var(--cl-tertiary);
}

/* 전체 내용 컨테이너 */
.sectionContainer {
  max-width: 1140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  border: 1px solid var(--cl-white);
}
